*, *::after, *::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.calculator {
    max-width: 25rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(29, 28, 27);
    border-radius: 2rem;
}

.current {
    width: 100%;
    border: none;
    font-size: inherit;
    line-height: 1;
    padding: 1rem;
    min-height: 5rem;
    text-align: end;
    background-color: rgb(29, 28, 27);
    color: white;
    margin: 0;
}

.previous {
    color: white;
    font-size: 1.5rem;
    line-height: 1;
    min-height: 3rem;
    text-align: end;
    padding: 0 1rem;
    margin: 0;
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number {
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(72, 72, 72);
    color: white;
}

.operator, .equals {
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: inherit;
    background-color: rgb(255, 164, 53);
    color: white;
}

.clear, .toggle, .percentage {
    border-radius: 50%;
    border: none;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: inherit;
    background-color: silver;
}

.double {
    grid-column: span 2;
    aspect-ratio: 2/1;
    border-radius: 100px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 3rem;
    }
}
